body {
    color: white;
    background: black;
    margin: 0px;
}

header {
    border-bottom: solid 2px rgb(73, 120, 255, 0.62);
    padding: 20px;
    font-size 29px;
    color: rgb(247, 48, 147, 0.623)
}

section{
    background-color: rgb(24, 131, 180, 1);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto{
    margin-right: 20px;
}